.regform button{
    margin: 0 10px;
}

.sector{
    display: flex;
    justify-content: center;
}

.change-langauge{
    margin-left: 10px;
}

.regform .part1{
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.regform .change-langauge{
    display: flex;
    height: fit-content;
}

.regform .change-langauge img{
    margin-bottom: 0;
    margin-right: 5px;
}